<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>aplicacao</param-name>
        <param-value>app1</param-value>
    </context-param>
    <context-param>
        <param-name>usuario</param-name>
        <param-value>x</param-value>
    </context-param>
    <context-param>
        <param-name>senha</param-name>
        <param-value>x</param-value>
    </context-param>
    <context-param>
        <param-name>usuarios</param-name>
        <param-value>0</param-value>
    </context-param>
    <filter>
        <description>Gerenciamento de Sessão</description>
        <filter-name>Filtro</filter-name>
        <filter-class>UFJF.Filtro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/menu.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <servlet-name>ListaUsuarios</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>UFJF.Listener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>UFJF.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rotator</servlet-name>
        <servlet-class>UFJF.Rotator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Valida</servlet-name>
        <servlet-class>UFJF.Valida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarios</servlet-name>
        <servlet-class>UFJF.ListaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DAO</servlet-name>
        <servlet-class>DAO.DAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDAO</servlet-name>
        <servlet-class>DAO.UsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>DAO.Usuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rotator</servlet-name>
        <url-pattern>/Rotator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuarios</servlet-name>
        <url-pattern>/ListaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DAO</servlet-name>
        <url-pattern>/DAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDAO</servlet-name>
        <url-pattern>/UsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>
